/* Responsive by Sugi */
/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  
  .heading  {
      padding: 20px;
    font-size: 2px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    .lesson-wrapper {
        height: 1400px;
    }
  .lesson {
    width: 100%;
  }
  
  #footer {
    text-align: center;
  }
    
 #k {
    width: 100%;
    text-align: center;
    }
  
  .btn {
    width: 50%;
  }
  

  .header-right {
  display:none
  }
 
  .menu-icon {
    display:block;
      color: black;
      font-size: 45px;
  }
  


/* End Responsive */
